@font-face {
 font-family: "Lemon";
 src: url("../font/LemonMilk.otf");
}
body{
  overflow: hidden;
}
h1{
font-family: "Lemon";
  color: white;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
h2{
font-family: "Lemon";
  color:white;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 20px;
}
li{color : white;}
.lorem{
  color: white;
  text-align: justify;
}
.container-fluid {
  width : 100vw;
  height: 100vh;
  padding: 0;
}
.firtsPart{
  background-color: rgba(255, 255, 255, 0.8);
}
.secondPart{
  height: 100vh;
  background-color: rgba(127, 48, 137, 0.8);
  padding-left: 50px;
  padding-right: 50px;
  overflow-y: scroll;
}
#logo{
  display: block;
  margin: auto;
    margin-top: 80px;
}
#bands{
  background-color: rgba(245,156,35,0.5);
  margin-top: 120px;
  box-shadow: 0px 0px 50px rgba(20,20,20,0.8);
}
.titleNight{
  font-size:50px;
  line-height: 80px;
  margin-top:40px;
  font-family: "Lemon";
  color:#7F3089;
  text-align: center;
}
hr{
  width:75%;
  border-color: #6E6C6D;
  border-width: 5px;
}
.littleGray{
  font-size: 30px;
  color: #6E6C6D;
}
.orangeNumber{
  font-size: 70px;
  color: rgba(245,156,35,1);
}
#inboxText{
  padding-right: 0;
  margin-bottom: 20px;
}
#inboxText p{
  text-align: center;
  margin: 0;
  margin-top: 20px;
}
#inboxText a{
  text-align: center;
  display: block;
  font-size: 50px;
  text-decoration: none;
  color: #6D6C6C;
}
#inboxText a:hover{
  color: white;
  background-image: linear-gradient(to left,
    #7E3089,
    #7E3089 50%,
    transparent 50%,
    transparent);
    background-position: -100% 0;
    background-size: 200% 100%;
    transition: all 0.8s ease-out;
}
#inboxText a:focus{
  color: white;
  background-image: linear-gradient(to left,
    #7E3089,
    #7E3089 50%,
    transparent 50%,
    transparent);
    background-position: -100% 0;
    background-size: 200% 100%;
    transition: all 0.8s ease-out;
}
.firstSection{
  min-height:100vh;
}
.firstSection p{
  font-family: 'Raleway', sans-serif;
}
.secondSection{
  min-height:100vh;
}
.secondSection p{
  color : white;
  text-align: center;
  font-family: 'Raleway', sans-serif;
}
.affiche{
  width: 100%;
}
video#bgvid {
  position: fixed; right: 0; bottom: 0;
  min-width: 100%; min-height: 100%;
  width: auto; height: auto; z-index: -100;
  background-size: cover;
}
.linePartner{
  margin: 50px;
}
.credits{
  text-align: center;
}
.imgPartner{
  width: 75%;
  display: block;
  margin: auto;
  margin-top: 20px;
}
#creditsBox{
  margin-top: 50px;
}
.adress{
  background-color: rgba(20,20,20,0.5);
  width: 100%;
}
.adress p{
  color : white;
  font-size: 30px;
}
#creditsBox p{
  color:white;
}
#creditsBox a{
  position: relative;
    color:orange;
  text-decoration: none;
}
#creditsBox a:hover{
  color:orange;
}
#creditsBox a:before{
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;

}
#creditsBox a:hover:before {
  visibility: visible;

  background-image: linear-gradient(to left,
    orange 50%,
    orange ,
    transparent 50%,
    transparent);
    background-position: -100% 0;
    background-size: 200% 100%;
    transition: all 0.8s ease-out;
}
#creditsBox a:focus:before {
  visibility: visible;

  background-image: linear-gradient(to left,
    orange 50%,
    orange ,
    transparent 50%,
    transparent);
    background-position: -100% 0;
    background-size: 200% 100%;
    transition: all 0.8s ease-out;
}
@media (max-height:790px)  {
    #bands{
      margin-top: 10px;
    }
    #logo{
      margin-top: 10px;
    }
    body{
      overflow-y: visible;
        overflow-x: hidden;
    }
  }

}

}
@media screen and (max-width: 767px) {
  body{
    overflow-y: visible;
      overflow-x: hidden;
  }
}
