@font-face {
  font-family: "LemonMilk";
  src: url('../fonts/LemonMilk.otf');
}

.navbar-light{
  min-height: 100px;
  background-color: #833089;
}
.navbar-brand{
  width: 200px;
  margin-left: 3%;
  margin-right: 5%;
}
.navbar-brand img {
  width: 100%;
}

.navbar-light .navbar-nav .nav-link{
  color: white;
  font-size: 20px;
  font-family: 'LemonMilk';
  margin-right: 20px;
}

.navbar-light .navbar-nav .nav-link{
  position: relative;
    color:white;
  text-decoration: none;
}
.navbar-light .navbar-nav .nav-link:hover{
  color:#B5A6B6;
}
.navbar-light .navbar-nav .nav-link:before{
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;

}
.navbar-light .navbar-nav .nav-link:hover:before {
  visibility: visible;

  background-image: linear-gradient(to left,
    #B5A6B6 50%,
    #B5A6B6 ,
    transparent 50%,
    transparent);
    background-position: -100% 0;
    background-size: 200% 100%;
    transition: all 0.8s ease-out;
}
.navbar-light .navbar-nav .nav-link:focus:before {
  visibility: visible;

  background-image: linear-gradient(to left,
    #B5A6B6 50%,
    #B5A6B6 ,
    transparent 50%,
    transparent);
    background-position: -100% 0;
    background-size: 200% 100%;
    transition: all 0.8s ease-out;
}

.link{
  color: white;
  font-size: 20px;
  font-family: 'LemonMilk';
  margin-right: 20px;
}

.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active{
  color: orange;
}

body{
  background-color: #b5a6b6;
  overflow-x: hidden;
}


#breadCrumb{
  height: 50px;
  background-color: #f59c23;
  vertical-align: middle;
}

#breadCrumb p,a {
  color: white;
  font-size: 20px;
  font-family: 'LemonMilk';
  margin-left: 10%;
  line-height: 50px;
}

h1, h2{
  margin-top: 50px;
    text-align: center;
    color: white;
    font-size: 40px;
    font-family: 'LemonMilk';
    line-height: 60px;
    margin-bottom: 20px;
}
#question{
  min-height:56vh;
}
#question h3{
  font-size: 20px;
  text-align: center;
  line-height: 30px;
  font-family: 'LemonMilk';
}
#question p{
  font-size: 20px;
  text-align: left;
  line-height: 30px;
}
#specialTxt{
  font-weight: bold;
  text-decoration: underline;
}
#acceptForm{
  text-align: center;
}
#startQuestionbutton{
  display: block;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 40px;
  background-color: #B5A6B6;
  border: #833089 solid 6px;
  font-size: 50px;
    font-family: 'Raleway', sans-serif;
}
#startQuestionbutton:hover{
  border: orange solid 6px;
  cursor:pointer;
}
ul li{
  font-size: 20px;
  line-height: 30px;
  list-style:none;
  padding-left: 0;
}
ul{
  padding-left: 0;
}
.themes{
  margin-left: 10px;
}

.errorMessage{
  color: red;
}

.questionLabel{
  min-height: 200px;
  border: #833089 10px solid;
  border-top: transparent;
  margin-bottom: 50px;
  padding-bottom: 20px;
}

.left{
  border-left: transparent;
  border-color: orange;
}

.right{
  border-right: transparent;
}

.questionTitleOrange{
  background-color: orange;
  color: white;
}

.questionTitlePurple{
  background-color: #833089;
  color: white;
}

.labelTitle{
  font-size: 20px;
}

.question{
  padding-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}
.borderQuestion{
  border-bottom: 5px #833089 solid;
}

label{
  font-family: 'Raleway';
}

@media screen and (max-width: 690px) {
  .btn-link{
    font-size: 20px;
  }
}
