  @font-face {
  font-family: "LemonMilk";
  src: url('../fonts/LemonMilk.otf');
}

.navbar-light{
  height: 100px;
  background-color: #833089;
}
.navbar-brand{
  width: 200px;
  margin-left: 3%;
  margin-right: 5%;
}
.navbar-brand img {
  width: 100%;
}

.navbar-light .navbar-nav .nav-link{
  color: white;
  font-size: 20px;
  font-family: 'LemonMilk';
  margin-right: 20px;
}

.navbar-light .navbar-nav .active > .nav-link{
  color: orange;
}

.link{
  color: white;
  font-size: 20px;
  font-family: 'LemonMilk';
  margin-right: 20px;
}

.active{
  color: #f59c23;
}

body{
  background-color: #b5a6b6;
  overflow-x: hidden;
}


#breadCrumb{
  height: 50px;
  background-color: #f59c23;
  vertical-align: middle;
}

#breadCrumb p,a {
  color: white;
  font-size: 20px;
  font-family: 'LemonMilk';
  margin-left: 10%;
  line-height: 50px;
}

h1, h2{
  margin-top: 50px;
    text-align: center;
    color: white;
    font-size: 40px;
    font-family: 'LemonMilk';
    line-height: 60px;
    margin-bottom: 20px;
}
#question{
  min-height:56vh;
}
#question h3{
  font-size: 20px;
  text-align: center;
  line-height: 30px;
  font-family: 'LemonMilk';
  color:orange;
}
#question h4{
  font-size: 20px;
  text-align: center;
  line-height: 30px;
  font-family: 'LemonMilk';
  color:white;
}
#question p{
  font-size: 20px;
  text-align: left;
  line-height: 30px;
}
#specialTxt{
  font-weight: bold;
  text-decoration: underline;
}
#acceptForm{
  text-align: center;
}
#startQuestionbutton{
  display: block;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 40px;
  background-color: #B5A6B6;
  border: #833089 solid 6px;
  font-size: 50px;
    font-family: 'Raleway', sans-serif;
}
#startQuestionbutton:hover{
  border: orange solid 6px;
  cursor:pointer;
}
ul li{
  font-size: 20px;
  line-height: 30px;
  list-style:none;
  padding-left: 0;
}
ul{
  padding-left: 0;
}
.themes{
  margin-left: 10px;
}

.errorMessage{
  color: red;
}

.questionLabel{
  min-height: 200px;
  border: #833089 10px solid;
  border-top: transparent;
  margin-bottom: 50px;
  padding-bottom: 20px;
}

.left{
  border-left: transparent;
  border-color: orange;
}

.right{
  border-right: transparent;
}

.questionTitleOrange{
  background-color: orange;
}

.questionTitlePurple{
  background-color: #833089;
}

.labelTitle{
  font-size: 20px;
}

.question{
  padding-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}
.borderQuestion{
  border-bottom: 5px #833089 solid;
}

label{
  font-family: 'Raleway';
  font-size: 20px;
  font-weight: bold;
}
hr{
  margin-top: 50px;
    margin-bottom: 50px;
    border:solid white 2px;
}
textarea{
  width:50%;
  height: 200px;
}
.card{
  margin-bottom: 20px;
}
.card-header{
  background-color: #F59C23;
  text-align: center;
}
.btn-link{
  font-size: 35px;
  color:white;
  font-family: 'LemonMilk';
}
.btn-link small{
  font-size: 20px;
  color:white;
  font-family: 'LemonMilk';
}
.card-header:hover{
  color: white;
  background-image: linear-gradient(to left,
    #7E3089,
    #7E3089 50%,
    transparent 50%,
    transparent);
    background-position: -100% 0;
    background-size: 200% 100%;
    transition: all 0.8s ease-out;
}
.btn-link:hover{
  font-size: 35px;
  color: #F59C23;
  font-family: 'LemonMilk';
}
.btn-link:hover>small{
  text-decoration: none;
}
#question .thxSurvey p{
  color:white;
  text-align: center;
  font-size: 30px;
}
#question .thxSurvey a{
  color:#833089;
  text-align: center;
  margin: 0;
}
.thxSurvey{
  margin-top: 15vh;
}
