@font-face {
  font-family: "LemonMilk";
  src: url('../fonts/LemonMilk.otf');
}

.navbar-light{
  height: 100px;
  background-color: #833089;
}
.navbar-brand{
  width: 200px;
  margin-left: 3%;
  margin-right: 5%;
}
.navbar-brand img {
  width: 100%;
}

.navbar-light .navbar-nav .nav-link{
  color: white;
  font-size: 20px;
  font-family: 'LemonMilk';
  margin-right: 20px;
}

.navbar-light .navbar-nav .active > .nav-link{
  color: orange;
}

.link{
  color: white;
  font-size: 20px;
  font-family: 'LemonMilk';
  margin-right: 20px;
}

body{
  background-color: #b5a6b6;
}
main{
  min-height: 1850px;
}

#breadCrumb{
  height: 50px;
  background-color: #f59c23;
  vertical-align: middle;
}

#breadCrumb p,a {
  color: white;
  font-size: 20px;
  font-family: 'LemonMilk';
  margin-left: 10%;
  line-height: 50px;
}

h1{
  margin-top: 50px;
    text-align: center;
    color: white;
    font-size: 55px;
    font-family: 'LemonMilk';
    line-height: 60px;
}

#backOnBack{
  position: relative;
  height: 10vw;
  background-color: #f59c23;
  margin-top: 200px;
}
#theme1{
  margin-top: -100px;
}

.img-circle {
    border-radius: 50%;
    border: 8px black solid;
    overflow: hidden;
    cursor: pointer;
}
.img-circle {
    border-radius: 0;
}

.ratio {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 0;
    padding-bottom: 100%;
    position: relative;
    width: 100%;
}
.img-circle {
    border-radius: 50%;
}
.img-responsive {
    display: block;
    height: auto;
    max-width: 100%;
}

#line2, #line3{
  margin-top: 150px;
}

.caption{
  width: 100%;
  height: 10vw;
  background-color: white;
  position: absolute;
  bottom: 0;
  text-align: center;
  padding-top: 20px;

  transition: 0.5s;
}

.caption h2{
  font-size: 20px;
}

.caption p{
  text-decoration: underline;
  margin-top: 20px;
}

.firstPlace{
  margin-left: 12.5vw;
}

.img-circle:hover > .caption{
  opacity: 0;
}

@media screen and (max-width: 1300px) {
  .caption p{
    margin-top: 10px;
  }
  .caption h2{
    font-size: 15px;
  }
}

@media screen and (max-width: 770px) {
  .firstPlace{
    margin-left: 0vw;
  }

  .caption{
    width: 100%;
    height: 150px;
    background-color: white;
    position: absolute;
    bottom: 0;
    text-align: center;
    padding-top: 20px;
  }
  #line1,#line2, #line3{
    height: 100vh;
  }

  #backOnBack{
    position: relative;
    height: 0vw;
    background-color: transparent;
    margin-top: 200px;
  }
  #theme1{
    margin-bottom: 100px;
  }
  h1{
      font-size: 40px;
      line-height: 45px;
  }
}

.modal-content{
  border-radius: 0px;
  background-color: #B5A6B6;
  color: white;
  font-family: 'Raleway'
}

.modal-header h5{
  font-family: 'LemonMilk'
}
